<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Mine for Houston</p>
    <p>We have raised $<%= amountRaised %> for the Houston disaster relief effort.</p>
    <p>With the help of <%= workers %> volunteer miners we're raising $<%= rate %> per day.</p>
  </body>
</html>
